.work-experience {
  background-color: rgb(25,26,29);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}

.work-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* corrected shadow for better effect */
  max-width: 800px;
  margin: auto;
  transition: transform 0.2s ease-in-out;
}

.work-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 15px;
}

.card-header h3 {
  margin: 0;
  font-size: 1.75em;
  font-weight: 600;
}

.card-header span {
  font-size: 0.95em;
  color: #666;
}

.work-card p {
  font-size: 1em;
  margin-bottom: 15px;
  line-height: 1.6;
}

.work-card ul {
  padding-left: 20px;
}

.work-card ul li {
  padding-bottom: 10px;
  line-height: 1.5;
  position: relative;
}

.work-card ul li::before {
  content: "•";  /* or an icon, e.g., '\2022' */
  position: absolute;
  left: -15px;
  color: rgb(25,26,29);
}
